<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Participant
  </div>

  <ul class="list-group list-group-flush">
    <% @expense.participant.each do |traveler| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/travelers/<%= traveler.id %>">
          <%= traveler.email %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
