<h1>
  Edit expense #<%= @expense.id %>
</h1>

<hr>

<form action="/update_expense/<%= @expense.id %>" method="post">

  <div class="form-group">
    <label for="trip_id">
      Trip
    </label>

    <%= select_tag(:trip_id, options_from_collection_for_select(Trip.all, :id, :destination, @expense.trip_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="expense_name">
      Expense name
    </label>

    <input type="text" id="expense_name" name="expense_name" class="form-control" value="<%= @expense.expense_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update expense
  </button>
</form>

<hr>

<a href="/expenses">
  Go back
</a>
