<form action="/create_expense_from_trip" method="post">

  <input type="hidden" name="trip_id" value="<%= @trip.id %>">

  <div class="form-group">
    <label for="expense_name">
      Expense name
    </label>

    <input type="text" id="expense_name" name="expense_name" class="form-control" value="<%= @expense.expense_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create expense
  </button>
</form>
